# Python Notes

## 1. Jupyter Notebook Notes

### 1.1.1 Bullet Points:
* use "*" or "-"
* bullet 1
* bullet 2

### 1.1.2 Headings:
* "# --> Heading 1"
* "## --> Heading 2"
* "### --> Heading 3"
and so on...

### 1.1.3 Number Lists: 
1. Numbered List using 1. 2. 3. 4.
2. Number 2

### 1.1.4 Formatting Text:
BOLD:
- "**bold**"

ITALCS:
- "*italic*"

HIGHLIGHT:
- `HIGHLIGHT`

HORIZONTAL LINE:
***
Here is some important text!
***

### 1.1.5 Images:
- ![alt text here](url-to-image-here)

# 2. Python Basics!

***
## 2.1 Variables and Data Types
Let's take:
- x = 10             --> # Integer
- y = 3.14           --> # Float
- name = "Alice"     --> # String
- is_student = True  --> # Boolean

In [63]:
#To convert an integer to a float, we can use the float() 
float(3)

3.0

In [64]:

#To convert a float to an integer, we can use the int() 
int(4.5)

4

In [65]:
# round off a number, we can instead use the round() 
round(4.5)

4

In [66]:
#for strings, create text by enclosing a sequence of characters within quotation marks (" ") or (' ')
tom_says = ("i am smart, timmy")
timmy_says = ("yes tom, but me too")
print(tom_says)
print(timmy_says)

i am smart, timmy
yes tom, but me too

In [67]:
#concatenation for strings
collective = tom_says + ". " + timmy_says + ", " "plus you owe me 10 pounds!"
print(collective)

i am smart, timmy. yes tom, but me too, plus you owe me 10 pounds!

In [68]:
#replace
collective.replace("timmy", "bob")

'i am smart, bob. yes tom, but me too, plus you owe me 10 pounds!'

***
## 2.2 Basic Data Structures
### 2.2.1 Lists:
fruits = ['apple', 'banana', 'cherry']

Below are some helpful codes on lists.

In [69]:
#splitting:
content = ['hello i am tom']
lines = content[0].split()
print(lines)

['hello', 'i', 'am', 'tom']

In [70]:
#how many elements in list?
len(lines)

4

In [71]:
#remove duplicates
numbers = [1, 2, 3, 4, 5, 5, 5]
set(numbers)

{1, 2, 3, 4, 5}

In [72]:
#adding items
numbers.append([6])
numbers.extend([7])

print(numbers)

[1, 2, 3, 4, 5, 5, 5, [6], 7]

In [73]:
#removing items
numbers.pop(-1) #--> remove the last item 

numbers.remove(5)

print(numbers)

[1, 2, 3, 4, 5, 5, [6]]

In [74]:
#slicing: 

#[::-1] --> flipping from back to front 

#[:5] --> cutting at the 5th 

#[::2] --> skips every other character 

#[1:-1] --> skips first and last 

numbers[::-1]

[[6], 5, 5, 4, 3, 2, 1]

In [75]:
first_4=numbers[:4] 
print(first_4)

[1, 2, 3, 4]

### 2.2.2 Dictionaries:
Note: Json files ARE python dictionaries.
Below are some useful features.

In [76]:
my_dict = {"name": "Alice", "age": 25, "city": "London"} 
my_dict["name"] #(searching in the dictionary for name)

'Alice'

In [77]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [78]:
my_dict.values()

dict_values(['Alice', 25, 'London'])

In [79]:
my_dict.items()

dict_items([('name', 'Alice'), ('age', 25), ('city', 'London')])

In [80]:
for key in my_dict:
    print(key + ":", my_dict[key])

name: Alice
age: 25
city: London

## 2.3 Control Structures
***
### 2.3.3 Conditional Statements

In [81]:
x=1 
if x > 5:
    print("x is greater than 5")
else:
    print("x is 5 or less")

x is 5 or less

In [82]:
x=6 
if x > 5:
    print("x is greater than 5")
else:
    print("x is 5 or less")

x is greater than 5

In [83]:
x=5
if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is equal to 5")
else:
    print("x is less than 5")

x is equal to 5

***
### 2.3.2 For Loops
for fruit in fruits:
    print(fruit)

In [84]:
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [85]:
for i in range(5):
    print(i)  # Prints the numbers 0 to 4

0
1
2
3
4

In [86]:
names = ['Alice', 'Bob', 'Charlie']
scores = [85, 90, 95]

for name, score in zip(names, scores): #searched "zip" online
    print(f"{name} scored {score}")

Alice scored 85
Bob scored 90
Charlie scored 95

***
### 2.3.3 While Loop
count = 0
while count < 5:
    print(count)
    count += 1

In [87]:
count = 0
while count < 5:
    print(count)
    count += 1  # Increment count

0
1
2
3
4

***
### 2.3.4 Functions
Below are some examples as functions is my weakest area:)

In [88]:
def function_name(parameters):
    # block of code
    return result #ALWAYS REMEMBER TO RETURN!

In [89]:
def greet(name, msg="Welcome"):
    return f"{msg}, {name}!"

print(greet("Alice"))

Welcome, Alice!

In [92]:
def collect_user_data():
    name = input("Enter your name: ")
    age = int(input("Enter your age: "))
    return name, age

user_name, user_age = collect_user_data()
print(f"Name: {user_name}, Age: {user_age}")

Name: Bob, Age: 19

# 3. File Handling
***
## 3.1 Writing to a file
with open('example.txt', 'w') as f:
    f.write("Hello, World!")

In [ ]:
with open('XXX.txt', 'w') as f: #opens a file named example.txt in write mode
    f.write("Hello, World!")

***
## 3.2 Reading from a file
with open('example.txt', 'r') as f:
    content = f.read()
    print(content)

In [ ]:
with open('XXX.txt', 'r') as f:
    content = f.read()
    print(content)

Hello, World!

## 3.3 Importing Libraries
import math

print(math.sqrt(16))  # Using the math library

In [ ]:
# Let us import the important ones we usually use:
import os
import json
import requests
import pandas as pd
import math   #now we can use (+, -, *, /, **)
from pprint import pprint

In [ ]:
#math tips (can do with all other symbols)
x = 4
x += 2
print(x)

6

## 3.4 .json files

- json.dumps(): Converts a Python object to a JSON string
- json.dump(): Writes a Python object directly to a JSON file